@if (IDPs != null && IDPs.Any())
{
    <section @attributes=Attributes>
        @foreach (var Item in IDPs)
        {
            <span @onclick=@(()=> BuildUrl(Item.ProviderId))>
                @if (ButtonContent != null)
                {
                    <text>@ButtonContent(Item.ProviderId)</text>
                }
                else
                {
                    <div class="linkButton">
                        <img src="@ImagePath(Item)">@Item.ProviderId
                    </div>
                }
            </span>
        }
    </section>
}


